<h3> Enter a link: </h3>

<form action= '/newlink' method = post>
  <p> Title: </p>
  <input type = 'text' name = 'title' id = 'title'>
  <p> Url: </p>
  <input type = 'text' name = 'url' id = 'url'>
  <input type = 'submit' value="Add!">
</form>